body {
    padding: 10em 0;
    background: linear-gradient(120deg, #ffffff);
  }
  h1 {
    position: relative;
    margin: 0;
    color: #fff;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    
  }
  h2 {
    margin: 5em 0 1em;
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
 
.loading {
    font-size: 84px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    span {
      display: inline-block;
      margin: 0 -.05em;
    }
  }
 
  .loading03 {
    span {
      margin: 0 -.075em;
      animation: loading03 .7s infinite alternate;
      @for $i from 1 through 6 {
        &:nth-child(#{$i+1}) {
          animation-delay: #{$i*.1}s;
        }
      }
    }
  }
  @keyframes loading03 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  } 

  .gifcu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tw {
  text-align: center; /* Mengatur teks menjadi rata tengah */
}

.tw h3 {
  font-size: 50px; /* Mengatur ukuran font menjadi lebih besar */
  font-weight: 400;
}